$color-primary:#2A8356;
$color-secondary:#121212;
$color-bg:#EDF4EE;

// 共用
a {
    color: $color-secondary;
}
a:hover {
    color: $color-primary;
}

.wrap {
    width: 1280px;
    margin: 0 auto;
}
.nav-menu {
    width: 296px;
    background-color: $color-bg;
    padding: 32px;
    height: 100vh;
}
.nav-item a {
    display: flex;
    align-items: center;
    font-weight: 700;
    &:hover {
        border-left: 4px solid $color-primary;
    }
}
.member-img {
    width: 40px;
    height: 40px;
}
.member-info a{
    color: #707070;
}

.header {
    // background-color: yellow;
    padding: 32px;
    .dropdown-toggle::after {
        content:none;
    }
    .dropdown-primary {
        color: $color-primary;
    }
}